.contenedor {
  display: flex;
 height: 100%
  /* justify-content:center; */
}
.row {
  display: flex;
   height: 100%;  
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
/* .imagen img {
  display: flex;
  height: 100vh;
  object-fit: cover;
} */
.boton {
  display: flex;
  margin-bottom: 3px;
}
.caja{
  display: flex;
  justify-content: center;
  margin-bottom: 3px;


}


.div {
  display: flex;
  /* grid-template-rows: ; */
  /* height: 100vh; */
}
/* 
@media (min-widht: 768px) {
 
} */
@media (min-width: 992px){
  .imagen {
    /* display: inline-block; */
    /* height: 100%; */
    
      display: flex;
      height: 790px;
      object-fit: cover;
    
  }
  .imagen img {
    display: flex;
    height: 100vh;
    object-fit: cover;
  }

}